@charset "utf-8"
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
*{margin:0px;padding:0px;}
body{font-family: 'Nanum Gothic', sans-serif;height:3000px;}
li{list-style:none;}
a{text-decoration:none;}

.popup{width: 450px;height: 605px;background:url("../images/pop.jpg")no-repeat;background-size:450px 580px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);display: none;z-index: 200;}
.close{position: absolute;left: 0;bottom: 0;width: 100%;height: 20px;background:#fff;}
.btn_close{display:block;width: 28px;height: 28px;background:url("../images/btn_popup_close.png")no-repeat;background-size:28px;text-indent: -99999px;position: absolute;right: -12px;top: -15px;}
input{vertical-align: 18.5%;margin-left:5px;}
label{vertical-align: 30%;font-size:12px;color:#7e7e7e;}
.close2{display: block; float:right;font-size:12px;color:#333;margin-right:10px;}
.pop_cover{position: fixed; width: 100%;height: 100%;background:rgba(0,0,0,0.8);display:none;z-index: 100;}


#header{width:100%;height:83px;background:url("../images/bg_header.gif");}
#header .header_inner{width:960px;height:83px;margin:0 auto;position:relative;}
#header .header_inner h1{position:absolute;left:50%;margin-left:-84px;margin-top:14px;}
#header .header_inner h1 a{display:block;background:url("../images/logo.png")no-repeat;width:168px;height:38px;text-indent:-99999px;}


#header .header_inner .util_left{float:left;}
#header .header_inner .util_left li{float:left;height:63px;line-height:63px;margin-right:20px;position:relative;}
#header .header_inner .util_left a{color:#fff; font-weight:900;letter-spacing:-1px;}
#header .header_inner .util_left li:last-child{margin-right:0px;}
#header .header_inner .util_left li a:hover{color:rgb(217,0,148);}
#header .header_inner .util_left li a span{display:block;background:url("../images/bg_join_point.png")no-repeat;width:80px;height:21px;position:absolute;left:-20px;top:40px;font-size:10px;color:#ff668c;line-height:24px;text-align:center;}

#header .header_inner .under_right{float:right;margin-top:14px;}
#header .header_inner .under_right li{float:left;margin-left:6px;position:relative;}
#header .header_inner .under_right li:first-child{margin-left:0px;}
#header .header_inner .under_right li a{display:block;width:38px;height:38px;text-indent:-9999px;}
#header .header_inner .under_right .lepo a{background:url("../images/ico_instagram.png")no-repeat;}
#header .header_inner .under_right .kart a{background:url("../images/ico_cart.gif")no-repeat;}
#header .header_inner .under_right .search a{background:url("../images/ico_search.png")no-repeat;}
#header .header_inner .under_right li a span{display:block;width:20px;height:20px;text-indent:0;color:#fff;background:url("../images/bg_cart_num.png")no-repeat;position:absolute;left:-5px;top:0;line-height:20px;text-align:center;font-size:10px;} 

.gnb{width:960px;margin:auto;border-top:2px solid #000;border-bottom:2px solid #000;margin-top:22px;margin-bottom:20px;text-align:center;}
.gnb>li{display:inline-block;margin-right:58px;position:relative;}
.gnb>li:last-child{margin-right:0;}
.gnb>li>a{display:block;height:50px;line-height:50px;font-size:14px;color:#000;font-weight:800;letter-spacing:0;}
.gnb>li:nth-child(1):hover>a{color:rgb(0,154,159);}
.gnb>li:nth-child(2):hover>a{color:rgb(125,60,224);}
.gnb>li:nth-child(3):hover>a{color:rgb(255,224,46);}
.gnb>li:nth-child(4):hover>a{color:rgb(255,153,69);}
.gnb>li:nth-child(5):hover>a{color:rgb(153,255,209);}
.gnb>li:nth-child(6):hover>a{color:rgb(225,2,149);}
/* .gnb>li:hover .depth2{display:block;} */
.gnb>li>.depth2{position:absolute;left:0;top:50px;border:1px solid #000;background:#fff;border-top:3px solid #000;width:160px;padding:32px 28px;margin-left:-32px;display:none;}
.gnb>li:nth-child(3) .depth2{margin-left:-80px;}
.gnb>li:last-child .depth2{margin-left:-80px;}

.gnb>li>.depth2>li{margin-bottom:13px;}
.gnb>li>.depth2>li:last-child{margin-bottom:0;}
.gnb>li>.depth2:last-child{width: 130px;}
.gnb>li>.depth2 li a{color:#999;font-size:11px;font-weight:700;display:block;width:100%;}
.gnb>li>.depth2 li a:hover{color:#000;text-decoration:underline;}

.gnb>li:nth-child(3) .depth2{margin-left:-62px;}

#main .visual{width:960px; margin:0 auto;}
#main .quick{position:fixed;left:50%;top:200px;margin-left:530px;}
#main .quick>li{margin-bottom:5px;}
#main .quick>li>a{display:block;width:46px;height:45px;background:url("../images/img_q_lemon.png")no-repeat;text-indent:-99999px;}
#main .quick>li:nth-child(2) a{background:url("../images/img_q_instagram.png")no-repeat;text-indent:-99999px;}
#main .quick>li:nth-child(3) a{position:fixed;left:50%;bottom:50px;margin-left:530px;background:url("../images/btn_top.png")no-repeat;text-indent:-99999px;}
#main .visual a:hover{opacity:0.5;}

#main .banner{width:960px;margin:0 auto;overflow:hidden;margin-top:45px;}
#main .banner li{float:left;}
#main .banner li a{text-align:center;}
#main .banner li a img{width:320px;}
#main .banner li a img:hover{opacity:0.5;}
#main .banner li a h3{color:#000;font-size:14px;font-weight:700;margin-top:22px;margin-bottom:7px;}
#main .banner li a p{font-size:12px;color:#000;}

#main .section1{width:960px;margin:0 auto;margin:top:88px;}
#main .section1 h2{margin-top:88px;font-size:16px;color:#444;text-align:center;font-weight:800px;background:url("../images/bg_title.gif")repeat-x 0 50%;margin-bottom:20px;}
#main .section1 h2 span{background:#fff;padding:0px 30px 0px 30px;}
/* �� ������ �ڷ� �������Բ� ������ ��> */
#main .section1 .new{overflow:hidden;}
#main .section1 .new li{position:relative;width:25%;float:left;margin-bottom:55px;}
#main .section1 .new li a{text-align:center;}
#main .section1 .new li a .product{width:240px;}
#main .section1 .new a .tag{width:35px;position:absolute;left:0;top:0;}
#main .section1 .new li a h3{font-size:13px;font-weight:700;color:#666;}
#main .section1 .new li a h4{font-size:13px;font-weight:400;color:#666;margin:8px 0 10px 0;}
#main .section1 .new li a h5{font-size:13px;font-weight:700;color:#666;}
#main .section1 img:hover{opacity:0.8;}

#main .section2{width:960px;margin:0 auto;margin:top:88px;}
#main .section2 h2{margin-top:88px;font-size:16px;color:#444;text-align:center;font-weight:800px;background:url("../images/bg_title.gif")repeat-x 0 50%;margin-bottom:20px;}
#main .section2 h2 span{background:#fff;padding:0px 30px 0px 30px;}

#main .section2 .hit{overflow:hidden;}
#main .section2 .hit li{position:relative;width:25%;float:left;margin-bottom:55px;}
#main .section2 .hit li a{text-align:center;}
#main .section2 .hit li a .product{width:240px;}
#main .section2 .hit a .tag{width:35px;position:absolute;left:0;top:0;}
#main .section2 .hit li a h3{font-size:13px;font-weight:700;color:#666;}
#main .section2 .hit li a h4{font-size:13px;font-weight:400;color:#666;margin:8px 0 10px 0;}
#main .section2 .hit li a h5{font-size:13px;font-weight:700;color:#666;}
#main .section2 img:hover{opacity:0.8;}

#main .recent{width:960px; margin:0 auto; margin-top:90px;}
#main .recent h2{text-align:center;font-size:16px; font-weight:800;color:#444; background: url("../images/bg_title.gif") repeat-x 0 50%;}
#main .recent h2 span{background:#fff; padding-left:30px; padding-right:30px;}
#main .recent ul{overflow:hidden; margin-top:50px;}
#main .recent ul li{float:left;margin-right:53px;margin-bottom:56px;}
#main .recent ul li:nth-child(4){margin-right:0px;}
#main .recent ul li:nth-child(8){margin-right:0px;}
#main .recent ul li a{display:block;position: relative;width:200px;height:200px;border-radius:100%;overflow:hidden; }

#main .recent ul li a:hover img{opacity: 0.5;}
#main .recent ul li a img{width:200px;}

#main .recent ul li a p{width:200px;height:40px;background:rgba(255,0,0,0.6);font-size:18px;color:#fff;font-weight: bold;text-align: center;line-height:40px;position: absolute;left:-200px;top:50%;margin-top:-20px;transition:all 1s ease;}

#main .recent ul li a:hover p{left:0;}
.sitemap{width:100%;background:url("../images/bg_site.gif") repeat-x;border-top:2px solid #000;}

.sitemap .sitemap_inner{width:960px;height:356px;margin:0 auto;padding-top:37px;box-sizing:border-box;}

.sitemap .sitemap_inner .map{}

.sitemap .sitemap_inner .map>li{float:left;font-size:13px;font-weight:bold;width:160px;position:relative;}

.sitemap .sitemap_inner .map>li .depth2{position:absolute;left:0;top:30px;}

.sitemap .sitemap_inner .map>li .depth2 li{padding-bottom:15px;}

.sitemap .sitemap_inner .map>li .depth2 li a{font-size:12px;color:#666;}

.sitemap .sitemap_inner .map>li .depth2 li .pe{color:#000;}

.footer{width:100%;height:130px;border-top:1px solid #ccc;background:#fff;}

.footer .footer_inner{width:960px;margin:0 auto;padding-top:30px;}

.footer .footer_inner .footer_left{float:left;}
.footer .footer_inner .footer_left address{font-size:11px;color:#333;line-height:20px;font-style:normal;width:100%;}
.footer .footer_inner .footer_left p{font-size:11px;color:#888;margin-top:30px;}
.footer .footer_inner .footer_right{float:right;position:relative;}
.footer .footer_inner .footer_right .instar{display:block;width:33px;height:33px;text-indent:-99999px;background:url("../images/ico_instagram2.png")no-repeat;position:absolute;right:0;top:-10px;}
.footer .footer_inner .footer_right .instar:hover{background:url("../images/ico_instagram2_on.png")no-repeat;}

.footer .footer_inner .footer_right .family{display:block;width:140px;height:20px;border:1px solid #757575;color:#757575;font-size:11px;line-height:20px;text-indent:10px;position:absolute;right:0;top:60px;background:url("../images/bg_arr_select.png")no-repeat right center;}